body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #2b2e33;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background-color: #3a3d42;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
 
}

.display {
    background-color: #1c1e22;
    color: #ffffff;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
}
